@page "/member"
@inject NavigationManager navMan
 
<h3 class="lab-header-italic">The UnIT Clarence Valley - Members</h3>

<MemberForm model="@newMember" OnValidSubmit="SaveMember" />

@code {
    private MemberModel newMember = new MemberModel();

    public void SaveMember()
    {

    }

}
