@page "/member"
@inject NavigationManager navMan
 
<h3>Member</h3>

<MemberForm model="@newMember" OnValidSubmit="SaveMember" />

@code {
    private MemberModel newMember = new MemberModel();

    public void SaveMember()
    {

    }

}
