@page "/computers/add"
@inject IComputerService _context
@inject NavigationManager navMan

<h3 class="lab-header">AddComputer</h3>
<p>Please enter the details of the new computer:</p>

<ComputerForm model="@model" buttonText="Add Computer" OnValidSubmit="AddNewComputer" OnCancelClick="@CancelClicked" />