@page "/computers/{id:int}"


<h3 class="lab-header-italic">Edit Computer</h3>

@if (model != null)
	{
        <div>
            <ComputerControl model="@model" buttonText="Update" OnValidSubmit="@UpdateComputer" OnCancelClick="@CancelClicked" />
            <button class="btn btn-danger m3" @onclick="@DeleteComputerAsync">Delete</button>
        </div>
	}

