<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">The UnIT Grafton</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @*<AuthorizeView>
            <Authorized>*@
                <SfAccordion>
                    <AccordionItem Header="Asset Control">
                        <ContentTemplate>
                            <SfAccordion>
                                <AccordionItems>
                                    <AccordionItem>
                                        <li class="nav-item px-3">
                                            <NavLink class="nav-link" href="computers" Match="NavLinkMatch.All">
                                                <span class="oi oi-monitor" aria-hidden="true"></span> Computers
                                            </NavLink>
                                        </li>
                                    </AccordionItem>
                                    <AccordionItem>
                                        <li class="nav-item px-3">
                                            <NavLink class="nav-link" href="parts" Match="NavLinkMatch.All">
                                                <span class="oi oi-hard-drive" aria-hidden="true"></span> Parts
                                            </NavLink>
                                        </li>

                                    </AccordionItem>
                                </AccordionItems>
                            </SfAccordion>
                        </ContentTemplate>
                    </AccordionItem>
                    <AccordionItem Header="Member Management">
                        <ContentTemplate>
                            <SfAccordion>
                                <AccordionItems>
                                    <AccordionItem>
                                        <li class="nav-item px-3">
                                            <NavLink class="nav-link" href="members" Match="NavLinkMatch.All">
                                                <span class="oi oi-person" aria-hidden="true"></span> Members
                                            </NavLink>
                                        </li>
                                    </AccordionItem>
                                </AccordionItems>
                            </SfAccordion>
                        </ContentTemplate>
                    </AccordionItem>
                    <SfAccordion>
                        <AccordionItem Header="Member Management">
                            <ContentTemplate>
                                <SfAccordion>
                                    <AccordionItems>
                                        <AccordionItem>
                                            <li class="nav-item px-3">
                                                <NavLink class="nav-link" href="announcements" Match="NavLinkMatch.All">
                                                    <span class="oi oi-hard-drive" aria-hidden="true"></span> Announcements
                                                </NavLink>
                                            </li>

                                        </AccordionItem>
                                    </AccordionItems>
                                </SfAccordion>
                            </ContentTemplate>
                            </AccordionItem>
                    </SfAccordion>
                </SfAccordion>
            @*</Authorized>
        </AuthorizeView>*@

        <UnitLearningMenuItem />
    </ul>
</div>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}