@page "/admin/manage/user/{id}"

@using UnitAdmin.Areas.Identity.Pages.Shared


<h3 class="lab-header-italic">Edit User </h3>
@if (userModel != null)
{
<div>
    <UserControl Model="@userModel" ButtonText="Update" ValidSubmit="@UpdateUser" OnCancelClick="@CancelClicked"></UserControl>
</div>
}


@*@code{
        [CascadingParameter] public Task<AuthenticationState> AuthenticationStateTask { get; set; }

}*@

