@page "/SignIn"
@using System.Security.Claims;
@using UnitAdmin.Areas.Identity;
@using UnitAdmin.Models;

@inject NavigationManager navman
@inject RevalidatingIdentityAuthenticationStateProvider<AppUser> _riasp

    <EditForm Model="@input" OnValidSubmit="@ValidateUser">
        <div>
            <br /><br /><br />
        </div>
        <div class="row col-12">
            <label class="h3 lab-header-italic text-center col-12">The UnIT Login</label>
        </div>
        <div>
            <br /><br />
        </div>
        <div class="row">
            <div class="col-1">
                @* The only reason this div exists is to move the logo slightly to the right so it is more centered *@
            </div>
            <div class="col-5">
                @* Logo Area *@
                <img src="/Images/TheUnitLogo.jpg" class="img-fluid"/>
            </div>
            <div class="border-left p-4">
                @* Identity Area *@
                <label class="control-label">UserName:</label>
                <input class="form-control" @bind="input.Username" placeholder="Enter Username" />
                <br />
                <label class="control-label">Password:</label>
                <input type="password" class="form-control" @bind="input.Password" placeholder="Enter Password" />
                <br />
                <input type="submit" class="form-control col-6 btn btn-primary" value="Login" />
            </div>
            <br />
        </div>
    </EditForm>
@code {
    [CascadingParameter] public Task<AuthenticationState> AuthenticationStateTask { get; set; }
    [Parameter] public string ReturnUrl { get; set; } = "/";
    public AuthenticationState AuthState { get; set; }
    public ClaimsPrincipal CPUser { get; set; }
}
