@page "/parts/{id:int}"
@inject IPartsService parts
@inject NavigationManager navMan
  
<h3 class="lab-header-italic">Edit Part</h3>

<PartForm model="@partToEdit" buttonText="Update Record" 
          OnValidSubmit="@UpdateRecord" OnCancelClick="@CancelUpdate" 
          OnDeleteClick="@DeleteRecord" />

@code {
    [Parameter] public int id { get; set; }
}
