@page "/parts/{id:int}"
@inject IPartsService parts
@inject NavigationManager navMan


  
<h3 class="lab-header-italic">Edit Part</h3>

<PartForm model="@partToEdit" buttonText="Update Record" 
          OnValidSubmit="@UpdateRecord" OnCancelClick="@CancelUpdate" 
          OnDeleteClick="@DeleteRecord" />

@code {
    [Parameter] public int id { get; set; }

    private PartModel partToEdit = new PartModel();

        protected override async Task OnParametersSetAsync()
        {
            partToEdit = await parts.GetPartByIdAsync(id);
        }

        private async Task UpdateRecord()
        {
            await parts.UpdatePartAsync(partToEdit);
            navMan.NavigateTo("/parts");
        }

        private void CancelUpdate()
        {
            navMan.NavigateTo("/parts");
        }

        private void DeleteRecord()
        {
            parts.DeletePart(partToEdit);
            navMan.NavigateTo("/parts");
}
}
