@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    /* The Unit Customisations
    ---------------------------------------------------- */
    .lab-header {
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 900;
        color: #106bb2;
    }

    .lab-header-italic {
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 900;
        font-style:italic;
        color: #106bb2;
    }

    .member-header {
        color: #106bb2;
        font-weight: bold;
    }

    .lab-colour {
        color: #106bb2;
    }

    h4 {
        font-size: larger;
        color: #106bb2;
    }
    .login-table {
        border-left: solid;
        border-left-width: 1px;
        border-left-color: #106bb2;
    }

    .image img {
        height: 55px;
        width: 55px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0, 0, 0, 0.2);
    }

    /* app-sidebar */
    .app-sidebar {
        color: whitesmoke;
    }

    /*.app-sidebar > .nav-pills > .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .app-sidebar > .nav-pills > .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .app-sidebar .nav-pills > .nav-item a {
        border-radius: 0px;
        display: flex;
        align-items: center;
    }

    .app-sidebar > .nav-pills > .nav-item > a {
        font-size: 1rem !important;
        font-weight: 600 !important;
        padding: .25rem 1rem .25rem .125rem;
    }

        .app-sidebar > .nav-pills > .nav-item > a[aria-expanded] ~ ul {
            margin: 0;
        }

    .app-sidebar .nav-pills > .nav-item a:not(.active) {
        color: inherit !important;
    }

    .app-sidebar .nav-pills .nav-item .nav-link {
        text-transform: none;
    }

        .app-sidebar .nav-pills .nav-item .nav-link > span:not(.expand-btn):not(.image):not(.badge) {
            flex: 1;
        }

        .app-sidebar .nav-pills .nav-item .nav-link > span.expand-btn {
            margin-right: 4px;
        }

        .app-sidebar .nav-pills .nav-item .nav-link > span.badge {
            flex: 0;
            border-radius: 0.25rem !important;
            min-width: 2.7em;
        }

    .dxbs-tree.app-sidebar > ul.nav ul.nav {
        margin: 0 !important;
    }

        .dxbs-tree.app-sidebar > ul.nav ul.nav .nav-item {
            padding-bottom: 0;
        }

        .dxbs-tree.app-sidebar > ul.nav ul.nav .nav-link {
            font-size: 0.825rem;
            font-weight: 400;
            padding: 0 1rem;
        }

    .dxbs-tree.app-sidebar .badge {
        margin: 0;
        border: 0 !important;
        padding: 3px 4px;
        color: #fff !important;
        background-color: #6c757d !important;
        font-size: 0.75rem;
        font-weight: 400;
    }

    .sidebar .nav-pills .nav-item {
        margin: 0;
    }

    .app-sidebar .nav-pills > .nav-item > a:not(.active) {
        background-image: none !important;
    }

    .app-sidebar .nav-pills > .nav-item > a {
        border: none !important;
    }

    .menuitem {
        color:lightgray;
    }*/

}
